*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}

.container-1 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 
    "h1 h1 h1 i1"
    "m1 m1 m1 m1"
    "f1 f1 f1 f1";
  border: 1px solid grey;
  border-radius: 5px;
  width: 240px;
  margin: 10px;
  padding: 10px;
}

header_1{
  grid-area: h1;
  font-weight: bold;
}
.image_1{
  grid-area: i1;  
}

main_1{
  grid-area: m1;
  color: #666666;
  border-bottom: 1px solid grey ;
  padding-bottom: 20px;
}
footer_1{
  grid-area: f1;
  padding-top: 10px;
 }

.container-2 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 
    "h2 h2 h2 i2"
    "m2 m2 m2 m2"
    "f2 f2 f2 f2";
  border: 1px solid grey;
  border-radius: 5px;
  width: 240px;
  padding: 10px;
  margin: 10px;
}

header_2{
  grid-area: h2;
  font-weight: bold;
}
.image_2{
  grid-area: i2;
}

main_2{
  grid-area: m2;
  color: #666666;
  border-bottom: 1px solid grey ;
  padding-bottom: 20px;
}
footer_2{
  grid-area: f2;
  padding-top: 10px;  
}

#div1 {
  float:left;
  width:23%;
}

#div2 {
  float:center;
  width: 23%;
}

.grey{
  color: Silver ;
}

.button-1 {
  background-color: white;
  border-left: 1.5px solid limegreen;
  border-top: 1.5px solid limegreen;
  border-bottom: 1.5px solid limegreen;
  border-right: 1.5px solid white;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color: limegreen;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  width: 49%;
}

.button-2 {
  background-color: white;
  border: 1.5px solid red;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: red;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  width: 49%;
}
.bold{
  font-weight: bold;
}